<br /><br />
<div class="main admin-login">
    <h1>Admin SignIn</h1>
    <br />
   <!--Email Input-->
    <div class="item-icon">
       <div class="icon">
        </div><input type="text" [(ngModel)]="email" placeholder="Email">
    </div>
    <br />
    <!--Password Input-->
    <div class="item-icon">
       <div class="icon">
        </div><input type="password" [(ngModel)]="password" placeholder="Password">
    </div>
    <br />
    <!--Sign in button-->
    <div>
        <button (click)="signIn()" mat-raised-button color="primary">SignIn</button>
    </div>
</div>
